*
  box-sizing: border-box
  
  &:before, &:after
    box-sizing: border-box

h1, h2, h3, h4, h5, h6,
form, label, legend
  margin: 0
  padding: 0

input,
textarea,
button,
img,
a,
select
  outline: none !important
  border: none

button
  cursor: pointer

select:-moz-focusring
  color: transparent
  text-shadow: 0 0 0 #000

body
  background-color: $white
  color: $black
  font-family: $general-font

a
  color: $black
  text-decoration: none
  outline: none

  &:hover
    color: $white
    text-decoration: none