/*FONTS STYLE*/
@font-face {
  font-family: KievitPro Regular;
  font-style: normal;
  font-weight: 400;
  src: local("KievitPro Regular"), local("KievitPro-Regular"), url(fonts/KievitPro-Regular.woff2) format("woff2"), url(fonts/KievitPro-Regular.woff), url(fonts/KievitPro-Regular.eot); }

/*MAIN STYLE*/
header:after,
section:after,
footer:after,
form:after {
  content: "";
  display: block;
  clear: both;
  height: 0; }

body {
  font: 17px KievitPro Regular, Helvetica, Arial;
  color: #000; }

.no-scroll {
  overflow: hidden; }

a {
  color: #000;
  text-decoration: none;
  outline: none; }
  a:hover {
    color: #fff;
    text-decoration: none; }

/*MEDIA STYLE*/
