doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    block title
      title Default title
    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(property='og:image', content='path/to/image.jpg')
    link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='img/favicon/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')
    link(rel='stylesheet', href='css/style.css')

  body
    include ../partials/header.jade
    block content
    include ../partials/footer.jade

    script(src="js/scripts.js")
